body {
    font-size: 1.2rem;
    padding:3rem;
}

.toplink {
    display: none;
}

body > ol > li:first-child {
    list-style-type: none;
}

.slide {
    width:20cm;
    min-height: 11.25cm;
    border: 1px solid #333;
    box-shadow: 2px 3px 3px #aaa;
    margin-bottom: 40px;
    padding: 40px;
    page-break-before: always;
}

.slide.center {
    display: grid;
    place-items: center;
}

.slide.center div {
    text-align: center;
}

.info {
    font-size: 1rem;
}

pre code {
    border-left: 3px solid rgb(24, 158, 255);
    padding-left: 10px;
    background-color: #fcfeff;
}

a, strong { color: rgb(24, 158, 255); }

.logo {
    position: fixed;
    top: 10px;
    right: 10px;
    width: 100px;
}

@media print {
    body {
        padding:0rem;
    }

    .toplink {
        display:block;
    }
}
