body {
    padding: 40px 100px 40px 100px;
    font-size: 1.2rem;
}

.slide {
    max-width:80%;
    min-height: 400px;
    border: 1px solid #333;
    box-shadow: 2px 3px 3px #aaa;
    margin-bottom: 40px;
    padding: 40px;
}

.slide.center {
    display: grid;
    place-items: center;
}

.slide.center div {
    text-align: center;
}

.info {
    font-size: 1rem;
}

pre code {
    border-left: 3px solid rgb(24, 158, 255);
    padding-left: 10px;
    background-color: #fcfeff;
}

h2, h3 {
    color: rgb(24, 158, 255);
}

a, strong { color: rgb(3, 62, 106); }

.logo {
    position: fixed;
    top: 10px;
    right: 10px;
    width: 100px;
}

@media print {
    .pagebreak {
        break-after:page;
    }
}