@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

@font-face {
    font-family: 'Calibri';
    src: url('../fonts/calibri.ttf');
}

* {
    font-variant-ligatures: none;
}

html, body {
    font-family: 'Calibri', 'Barlow', sans-serif;
}

a {
    text-decoration: none;
}

.remark-container {
    background-color: #242A31;
}

.remark-slide-content h1 {
    font-size: 36px;
}

.remark-slide-content h2 {
    font-size: 32px;
}

.remark-slide-content h3 {
    font-size: 28px;
}

.remark-slide-content h4 {
    font-size: 26px;
}

.remark-slide-content.center.middle h3,
.remark-code {
    background-color: #f8f8f8;
    border-top: 2px solid rgb(230, 230, 230);
    border-bottom: 3px solid rgb(220, 220, 220);

}

.file > p,
.info {
    background-color: rgb(245, 245, 245) !important;
}

.remark-code {
    font-size: 70%;
}

.chapters ul {
    column-count: 2;
}

.file > p,
.info {
    border-left: 3px solid rgb(24, 158, 255);
    font-size: 80%;
    padding: 0.1em 0.5em 0.1em 0.8em;
    margin-bottom: 1em;
}

.info code {
    background-color: rgb(210, 210, 210) !important;
}

.file > p,
.file .info {
    margin: 0;
    padding: 0.5rem;
}

.file .info p {
    display: inline;
}

.file p::before,
.file .info::before {
    content: 'File:';
    margin-right: 0.5rem
}

.file .info p::before {
    content: none;
}

.code .remark-code,
.shell .remark-code,
.bash .remark-code,
.file .remark-code {
    border-left: 3px solid rgb(24, 158, 255);
}

.file .remark-code {
    border-top:none;
}

.code pre,
.shell pre,
.bash pre,
.file pre {
    margin: 0;
}

.shell pre,
.bash pre,
.file code {
    margin: 0
}

.bash .remark-code-line::before,
.shell .remark-code-line::before {
    content: '$ ';
    opacity: 0.4;
}

.bash,
.shell,
.file {
    margin-bottom: 2rem
}

.hljs-github-gist .hljs-keyword, .hljs-github-gist .hljs-keyword-subst, .hljs-github-gist .hljs-built_in {
    color: rgb(0, 90, 169);
}

.hljs-github-gist .hljs-title, .hljs-github-gist .hljs-title-subst {
    color: rgb(24, 158, 255);
}

.hljs-github-gist .hljs-string, .hljs-github-gist .hljs-string-subst {
    color: rgb(134, 165, 9);
}

a, .blue, strong {
    color: rgb(24, 158, 255);
}

code {
    margin: 0 1px;
    display: inline-block;
    padding: 3px 6px;
    font-size: 80%;
    line-height: 140%;
    max-width: 100%;
    white-space: pre-wrap !important;
    word-wrap: break-word;
    word-break: break-all;
    background-color: #e3edf3;
}


ul {
    list-style-type: square
}

ul ul {
    list-style-type: disc
}

ul ul ul {
    list-style-type: circle
}

li {
    margin-bottom:.3rem;
}
